body {
	margin: auto;
	width: 80%;
	font-family: Verdana, sans-serif;
}

#mastermind {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section {
	padding-bottom: 5px;
}

#board-content {
	display: flex;
}

#board {
	border: 3px solid #000000;
	padding: 10px;
	margin: auto;
	width: 200px;
}

#board div:last-child {
	border: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#board-clue {
	/* Grid 2:2 */
	border: 3px solid #000000;
	padding: 10px;
	margin: auto;
	width: 50px;
}

#board-clue div:last-child {
	border: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.row {  
	display: flex;
	gap: 10px;
	padding: 5px 0px;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid black;
}

#color-peg-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid #000000;
	padding: 10px;
	margin: auto;
	gap: 10px;
}

.peg {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	display: inline-block;
	border: 1px solid #000000;
}

.red {
	background-color: #e43b3b;
}

.orange {
	background-color: #e48a3b;
}

.green {
	background-color: #3be45d;
}

.lightblue {
	background-color: #3be4de;
}

.blue {
	background-color: #3b60e4;
}

.purple {
	background-color: #8d3be4;
}

.white {
	background-color: #ffffff;
}

.purple {
	background-color: #000000;
}
