// scss variables
$color-red: #e43b3b;
$color-orange: #e48a3b;
$color-yellow: #e4de3b;
$color-green: #3be45d;
$color-blue: #3b81e4;
$color-purple: #8d3be4;
$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #e7e7e7;

$border-1: 1px solid $color-black;
$border-2: 2px solid $color-black;
$border-3: 3px solid $color-black;

body {
	margin: auto;
	width: 80%;
	font-family: Verdana, sans-serif;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.board-border {
	border: $border-3;
	padding: 10px;
	height: fit-content;
}

.mastermind {
	@extend .flex-column;
	padding-bottom: 10px;
	text-align: center;

	&__side {
		justify-content: flex-start;

		h2 {
			margin: 5px;
		}
	}

	section {
		padding-bottom: 5px;
	}

	&__board-content {
		display: flex;
	}

	&__header {
		@extend .flex;
	}
}

.board {
	@extend .board-border;
	div:last-child {
		border: none;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}

.board-clue {
	@extend .board-border;
	border-left: 0px;
	width: 50px;
}

.color-peg-options {
	@extend .flex-column;
	border: $border-3;
	padding: 11px;
	margin: 10px 10px;
	gap: 13px;
}

.row {  
	@extend .flex;
	gap: 10px;
	padding: 6px 0px;
	border-bottom: $border-2;
}

.cluerow {  
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	gap: 3px;
	padding: 5px 0px;
}

.peg {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: $color-white;
	display: inline-block;
	border: $border-1;

	&.clue {
		height: 20px;
		width: 20px;
	}

	&.red {
		background-color: $color-red;
	}
	
	&.orange {
		background-color: $color-orange;
	}

	&.yellow {
		background-color: $color-yellow;
	}

	&.green {
		background-color: $color-green;
	}
	
	&.blue {
		background-color: $color-blue;
	}
	
	&.purple {
		background-color: $color-purple;
	}

	&.white {
		background-color: $color-white;
		border: $border-1;
	}
	
	&.black {
		background-color: $color-black;
	}
}

.button {
	border: none;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;

	&__check {
		background-color: $color-light-grey;
		margin: 10px;

		&:hover {
			border: 2px solid $color-light-grey;
			background-color: $color-white;
			padding: 13px;
		}
	}

	&__icon {
		border: none;
		background-color: $color-white;
	}
}

.image {
	&__icon {
		width: 20px;
		height: 20px;
	}
}